@font-face {
    font-family: 'Robertortiz';
    src: url('https://cms.muratyurur.com/panel/assets/assets/fonts/Robertortiz.woff2') format('woff2'),
    url('https://cms.muratyurur.com/panel/assets/assets/fonts/Robertortiz.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.signature {
    font-family: Robertortiz;
    font-size: x-large;
    color: #9760af;
}

@media screen and (max-width: 767px) {
    .signature{
        display: block;
        padding-top: 10px;
    }
}
