.input-form-error {
    font-size: 12px;
    color: #ff5b5b;
    font-style: italic;
}

td {
    vertical-align: middle !important;
}

th {
    text-align: center;
}

.order {
    text-align: center;
    width: 50px;
}

.w400 {
    width: 400px;
}

.w300 {
    width: 300px;
}

.w275 {
    width: 275px;
}

.w250 {
    width: 250px;
}

.w200 {
    width: 200px;
}

.w175 {
    width: 175px;
}

.w150 {
    width: 150px;
}

.w100 {
    width: 100px;
}

.w75 {
    width: 75px!important;
}

.w50 {
    width: 50px;
}

.w20 {
    width: 20px;
}

.sortable {
    cursor: move;
}

.video_url_container {
    display: none;
}

.footer-msg {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    vertical-align: baseline;
}

.footer-msg .fa.fa-heart {
    vertical-align: baseline;
    font-size: 10px;
    line-height: 16px;
    width: 16px;
    text-align: center;
    transition: color 1s ease;
}

.app-footer:hover .fa.fa-heart{
    color: #FF0000;
    animation: pulse 1s infinite;
}

.app-footer:hover .signature{
    font-weight: bolder;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(0.9);
    }
}

.u-VisuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@font-face {
    font-family: 'Robertortiz';
    src: url('https://cms.muratyurur.com/panel/assets/assets/fonts/Robertortiz.woff2') format('woff2'),
    url('https://cms.muratyurur.com/panel/assets/assets/fonts/Robertortiz.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.signature {
    font-family: Robertortiz;
    font-size: x-large;
    color: #5b69bc;
}

@media screen and (max-width: 767px) {
    .brand-logo{
        display: none!important;
    }
}

.button-information-container{
    display: none;
    border: 1px solid #CDCDCD;
    padding: 15px 15px 0px 15px;
    margin-bottom: 20px;
    border-radius: 7px;
}
