body{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}

.outer-panel{
    width: 60%;
    padding: 0% 7%;
    background-color: rgba(0,0,0,0.059);
}

.container{
    display: flex;
    justify-content: center;
}

.inner-panel{
    background-color: rgba(255,255,255,0.55);
    box-shadow: 1px 2px 10px rgba(0,0,0,0.34);
}

p{
    font-size: 12px;
}

a{
    color: #5b69bc;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

h1{
    font-weight: bold;
    color: tomato;
}

@media only screen and (max-device-width: 425px){
    .outer-panel{
        width: 100%;
        padding: 0% 3%;
    }

    .title-text{
        padding-top: 10%;
    }

    a{
        color: #5b69bc;
        text-decoration: none;
    }

    a:hover{
        text-decoration: none;
    }

    h1{
        font-weight: bolder;
        color: tomato;
    }

    h6{
        padding: 0px 5%;
    }
}

